<h1>Listing attendees</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Twitter handle</th>
    <th>Bio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @attendees.each do |attendee| %>
  <tr>
    <td><%= attendee.name %></td>
    <td><%= attendee.twitter_handle %></td>
    <td><%= attendee.bio %></td>
    <td><%= link_to 'Show', attendee %></td>
    <td><%= link_to 'Edit', edit_attendee_path(attendee) %></td>
    <td><%= link_to 'Destroy', attendee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br/>
<%= gmaps4rails(@pins) %>
<%= yield :scripts %>

<br />

<%= link_to 'New Attendee', new_attendee_path %>
