<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @attendee.name %>
</p>

<p>
  <b>Twitter handle:</b>
  <%= @attendee.twitter_handle %>
</p>

<p>
  <b>Bio:</b>
  <%= @attendee.bio %>
</p>


<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
